@import url("https://fonts.googleapis.com/css2?family=Delius&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
}
.parent-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: #000000;
  margin: 0 auto;
  width: 100vw;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: #000000;
  /* width: 1300px; */
  margin: 0 auto;
  margin-left: 20px;
}

.one-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

.one-header-smartbasket {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 600;
  font-family: "Delius", cursive;
}
.one-header-img-smartbasket {
  width: 70px;
  height: 40px;
  /* border-radius: 50%; */
  /* filter: invert(1 */
}
.two-header-img {
  width: 28px;
  height: 28px;
  background-color: white;
  filter: invert(1);
  margin-right: 20px;
}

.main-list {
  display: flex;
  gap: 1.7rem;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  margin: auto 0;
  position: relative;
  left: -34px;
}

.list-items {
  list-style: none;
  color: #ffffff;
  cursor: pointer;
}

.login-div {
  background-color: white;
  list-style: none;
  color: #000000;
  cursor: pointer;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  align-items: center;
}
.about-header {
  color: #ffffff;
  cursor: pointer;
  margin-left: 30px;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  align-items: center;
}
.dropdown-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  /* filter: invert(1); */
}
.profile {
  color: #020202;
  cursor: pointer;
  background-color: white;
  height: 40px;
  padding: 0rem 0.3rem 0rem 1rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 600;
  align-items: center;
  position: relative;
}

.sign-out {
  width: 150px;
  height: 50px;
  border: 1px solid #000000;
  position: absolute;
  top: 100%; /* shows dropdown below the profile */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
